
body {
    background-color: var(--bgcolor);
    color: var(--secondary);
    padding: 15px;
    font-family: var(--main-font);
}

.header:hover {
    color: var(--bgcolor);
    text-decoration: none;
}
h1 {
    margin: auto;
    width: 90%;
    text-align: center;
    font-family: var(--title);
    color: var(--primary);
}

.setting {
    float: right;
    color: var(--mute);
    padding-left: 5px;

}

.setting:hover {
    color: var(--third);
}


.card {
    border-radius: 5px;
    border: 1px var(--mute);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 1px;
}

.card-head {
    border-radius: 5px;
    background-color: var(--mute);
    padding: 10px;
    border: 1px var(--mute);
    color: var(--primary);
    font-family: var(--title);
    font-size: x-large;
    padding-left: 20px;
}


.card-head:hover {
    color: var(--secondary);
    text-decoration: none;
}

.icon {
    position: absolute;
    right: 10px;
    top: 15px;
}

.title {
    color: var(--primary);
}

.title:hover{
    color: var(--third);
    text-decoration: none;
}

.color-theme {
    padding-top: 10px;
    padding-bottom: 10px;
}

[class*="theme-dot-"]{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-block;
    padding-right: 10px;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2)
}

[class*="theme-dot-"]:hover {
    opacity: 0.8
}


.theme-dot-steel {
    background-color: #fca311 ;
}

.theme-dot-blue {
    background-color: #CEDFF3;
}

.search {
    border-radius: 5px;
    border: var(--mute) 1px;
    background-color: var(--mute);
}

.btn-section {
    background-color: var(--mute);
    border-radius: 5px;
    border: var(--mute) 1px;
    color: var(--primary);
    font-family: var(--title);

}

.btn-section:hover {
    color: var(--mute);
    background-color: var(--primary);
}


h3 {
    padding-bottom: 10px;
}


img {
    size: auto;
    height: 100%;
    width: auto;
}

.close {
    float: right;
    position: absolute;
    top:0;
    right: 5px;
}

