
body {
   background-color: var(--bgcolor);
   color: var(--secondary);
   padding: 15px;
    font-family: var(--main-font);
}

h1 {
   text-align: center;
   font-family: var(--title);
    color: var(--primary);
}

.setting {
    float: right;
    color: var(--mute);
}

.setting:hover {
    color: var(--third);
}


.card {
    border: solid 1px var(--mute);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 1px;
}

.card-head {
    background-color: var(--mute);
    padding: 10px;
    border: solid 2px var(--mute);
    color: var(--primary);
    font-family: var(--title);
    font-size: x-large;
    padding-left: 20px;
}


.card-head:hover {
    color: var(--secondary);
    text-decoration: none;
}

.icon {
    position: absolute;
    right: 10px;
    top: 15px;
}

.title {
    color: var(--primary);
}

.title:hover{
    color: var(--third);
    text-decoration: none;
}

.color-theme {
    padding-top: 10px;
    padding-bottom: 10px;
}

[class*="theme-dot-"]{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-block;
    padding-right: 10px;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2)
}

[class*="theme-dot-"]:hover {
    opacity: 0.8
}


.theme-dot-steel {
    background-color: #fca311 ;
}

.theme-dot-blue {
    background-color: #CEDFF3;
}

