{% extends "layout.html" %}
{% block content %}
<script>
    function replaceIcon(divid, class1, class2) {
        var element = document.getElementById(divid);
        if (element.classList.contains(class1)) {
            element.classList.replace(class1, class2)
        } else {
            element.classList.replace(class2, class1)
        }
    }

    function toggleHidden(divId) {
        row = document.getElementById(divId);
        if (row.style.display === 'none') {
            row.style.display = 'block'
        } else {
            row.style.display = 'none'
        }
    }

    function lazyLoadImage(id) {
      element = document.getElementById(id);
      element.src = element.dataset.src;
    }

</script>
<a class="setting" data-toggle="collapse" href="#search" aria-expanded="false" aria-controls="colortheme"><i class="fa fa-search" style="font-size:15px"></i></a>
    <div class="collapse" id="search">
        <form action="" method="post">
        {{form.search_text(class="form-control-md search", placeholder="Title")}}
        {{form.submit(class="btn-md btn-section")}}
        </form>
    </div>

<div class="header">
    <h1>ACTIVE COLLECTIONS</h1>
</div>

<div class="content">
    <a class="utilities" href="{{url_for('index')}}">COMIC WISHLIST</a> |
    <a class="utilities" href="{{url_for('utilities')}}">UTILITIES</a>
</div>

<div id="searchitems">
    {% for title in titles %}
        <button onclick="toggleHidden('searchitems')">Close Search</button>
        <p class="searchtitle">Search for "{{title}}":</p>
    {% endfor %}

{% for pub, comic_list in comics.items() %}
    {% for key in comic_list.keys() %}
        {% for title in titles %}
            {% if title in key.lower() %}
<!--            <span class="clickable close-icon icon" data-effect="fadeOut"><i class="fa fa-times"></i></span>-->
                <div class="card searchcard">
                    <a class="issuenumbers" data-toggle="collapse"
                               href="#title{{comic_list[key][0]['title_id']}}" role="button" aria-expanded="false"
                           aria-controls="collapse" onclick="replaceIcon('icon{{comic_list[key][0]['title_id']}}', 'fa-caret-down', 'fa-caret-up')">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-4">
                                    {{ key }}
                                </div>
                                <div class="col-5">
                                    {{pub}}
                                </div>
                                <div class="col-3">
                                    {{comic_list[key]|length}}<i class="fas fa-book"></i>
                                </div>
                            </div>
                            {% for comic in comic_list[key]%}
                                {{comic['issue_number']}}{% if not loop.last %},{% endif %}
                            {% endfor %}
                        </div>
                        <i class="fa fa-caret-down icon" id="icon{{comic_list[key][0]['title_id']}}"></i>
                    </a>

                    {% for comic in comic_list[key]%}
                        <ul class="list-group list-group-flush collapse panel-collapse" id="title{{comic_list[key][0]['title_id']}}">
                            <li class="list-group-item py-1">
                                <div class="row">
                                    <div class="col-2">
                                        {{comic['issue_number']}}
                                    </div>
                                    <div class="col-5">
                                        <small>{{comic['desc']}}</small>
                                     </div>
                                    <div class="col-2">
                                        <a data-toggle="modal" data-target="#comic{{comic['cover_id']}}"
                                           onclick="lazyLoadImage('image{{comic['cover_id']}}')">
                                         <small><i class='far fa-file-image issue'></i></small>
                                        </a>
                                    </div>
                                    <div class="col-3">
                                        <small class="date">{{comic['date']}}</small>
                                    </div>
                                </div>
                                <div class="modal fade" id="comic{{comic['cover_id']}}" tabindex="-1" role="dialog"
                                     aria-labelledby="ModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                                        <div class="modal-content">
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close"><span aria-hidden="true">&times;</span>
                                            </button>
                                            <img data-src="http://images.comiccollectorlive.com/covers/{{comic['cover_id']}}/{{comic['issue_id']}}.jpg"
                                                 id="image{{comic['cover_id']}}" alt="comic-image" data-loaded="0">
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endfor %}
<br>
</div>


{% for pub, comic_list in comics.items() %}
    <div class="card">
        <a class="card-head" data-toggle="collapse" href="#pub{{loop.index0}}" role="button" aria-expanded="false" aria-controls="collapse" onclick="replaceIcon('caret{{loop.index0}}', 'fa-caret-down', 'fa-caret-up')">
            {{pub}}<i class="fa fa-caret-down icon" id="caret{{loop.index0}}"></i>
        </a>
        <div class="panel-collapse collapse in" id="pub{{loop.index0}}">
            {% for title, issues in comic_list.items() %}
                <ul class="list-group">
                    <li class="list-group-item py-1">
                        <div class="row">
                            <div class="col-7">
                                <a class="title" data-toggle="collapse" href="#title{{issues[0]['title_id']}}" role="button" aria-expanded="false" aria-controls="collapse" onclick="toggleHidden('{{issues[0]['title_id']}}'); replaceIcon('chevron{{issues[0]['title_id']}}', 'fa-chevron-down', 'fa-chevron-up') ">
                                    {{title}}<i class='fas fa-chevron-down' id="chevron{{issues[0]['title_id']}}"></i>
                                </a>
                            </div>

                            <div class="col-2 subtitle">{{issues|length}} <i class="fas fa-book"></i></div>
                            <div class="col-3 subtitle">
                                    {% if issues[0]['date'] == issues[-1]['date'] %}
                                        <div class="year">{{issues[0]['date']}}</div>
                                    {% else %}
                                        <div class="year">{{issues[0]['date']}}</div>¯<div class="year">{{issues[-1]['date']}}</div>
                                    {% endif %}
                            </div>
                        </div>

                        <div class="col-6" id="{{issues[0]['title_id']}}" style="display: block;">
                            {% for issue in issues %}
                                <small class="issuenumbers">{{issue['issue_number']}}{% if not loop.last %},{% endif %}</small>
                            {% endfor %}
                        </div>

                        <ul class="list-group list-group-flush collapse" id="title{{issues[0]['title_id']}}">
                            {% for issue in issues %}
                                <li class="list-group-item py-1">
                                    <div class="row">
                                        <div class="col-2">
                                            <small>{{issue['issue_number']}}</small>
                                        </div>
                                        <div class="col-5">
                                            <small>{{issue['desc']}}</small>
                                        </div>
                                        <div class="col-2">
                                            <a data-toggle="modal" data-target="#issue{{issue['cover_id']}}" onclick="lazyLoadImage('img{{issue['cover_id']}}')">
                                                <small><i class='far fa-file-image issue'></i></small>
                                            </a>
                                        </div>
                                        <div class="col-3">
                                            <small class="date">{{issue['date']}}</small>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="issue{{issue['cover_id']}}" tabindex="-1" role="dialog"
                                         aria-labelledby="ModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                                            <div class="modal-content">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close"><span aria-hidden="true">&times;</span>
                                                </button>
                                                <img data-src="http://images.comiccollectorlive.com/covers/{{issue['cover_id']}}/{{issue['issue_id']}}.jpg" id="img{{issue['cover_id']}}" alt="comic-image" data-loaded="0">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            {%endfor%}
        </div>
    </div>
{%endfor%}

<a href="#" class="close_all"><img class="image" src="../static/close.jpg.png" alt="close"></a>

{%endblock%}

{% block script %}

<script>
    $('.close_all').click(function(){
        $('.panel-collapse').collapse('hide');
        $('.fa-caret-up').toggleClass("fa-caret-down fa-caret-up");
    });
</script>


{% endblock %}

