{% extends "layout.html" %}
{% block content %}

<script>
    function toggleHidden(divId) {
        row = document.getElementById(divId);
        if (row.style.display === 'none') {
            row.style.display = 'block'
        } else {
            row.style.display = 'none'
        }
    }

</script>


{% for press in presses %}
    <div class="card">
        <a class="card-head" data-toggle="collapse" href="#{{press.name}}" role="button" aria-expanded="false" aria-controls="collapseExample">
            {{press.name}}<i class="fa fa-caret-down icon"></i>
        </a>

        {% for comic in comics %}
            <div class="collapse" id="{{press.name}}">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-6">
                                <a class="title" data-toggle="collapse" href="#{{comic.title}}" role="button" aria-expanded="false" aria-controls="collapseExample" onclick="toggleHidden('publisher_comic-name_year')">
                                    {{comic.title}}
                                </a>
                            </div>
                            <div class="col-3">Year</div>
                            <div class="col-3">10 iss.</div>
                        </div>

        <!--                    You will need to be able to hide this row when it becomes expanded and make it re-appear when-->
        <!--                    expansion is closed; I also think a "close" button at the bottom of this list may be helpful
                            you could even make the button show up only if there are more than 20 comics in the list so you do not have to scroll back up to close-->
                        <div id="publisher_comic-name_year" style="display: block;">
                            <small>
                                {% for issue in issues %}
                                    {{issue.number}}
                                {% endfor %}
                            </small>
                        </div>

                        {% for issue in issues %}
                        <ul class="list-group list-group-flush collapse" id="{{comic.title}}">
                            <li class="list-group-item py-1">
                                <div class="row">
                                    <a class="col-6" data-toggle="modal" data-target="#comiccover">
                                        {{issue.sub_title}}
                                    </a>
                                    <div class="modal fade" id="comiccover" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered bd-example-modal-sm" role="document">
                                            <div class="modal-content">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close"><span aria-hidden="true">&times;</span>
                                                </button>
                                                <img src="{{url}}" alt="comic-image">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3">{{issue.year}}</div>
                                    <div class="col-2">{{issue.number}}</div>
                                </div>
                            </li>
                        </ul>
                        {% endfor %}
                    </li>
                </ul>
            </div>
        {% endfor %}
    </div>
{% endfor %}

{% endblock %}





